@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');

body {
  min-width: auto;
  display: block;
  text-align: center;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    rgb(64, 122, 155),
    rgba(116, 197, 193, 0.822)
  );
}

a#one:hover {
  background: rgba(18, 24, 23, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}
a#two:hover {
  background: rgba(18, 24, 23, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}

a#two {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}
a#one {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}

a#three:hover {
  background: rgba(18, 24, 23, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}

a#three {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}

img.filmsphoto {
  width: 300px;
  max-width: 300px;
  /* text-align: center; */
  margin: 20px;
  padding: 10px;
  /* float: left; */
  border-radius: 10px;
  z-index: 9;
  margin: 20px;
}
img.filmsphoto:hover {
  background: rgb(220, 233, 230);
  transition: 0.5s;
}
p.footer {
  text-align: center;
}

button {
  font-family: 'Josefin Slab', serif;
  margin: 15px;
  color: black;
  background-color: transparent;
  padding: 6px;
}
button:hover {
  background: rgba(18, 24, 23, 0.521);
  color: white;
  transition: 0.1s;
  padding: 6px;
  text-align: center;
}
/*Directors*/

img.directorphoto {
  width: 300px;
  max-width: 400px;
  border-radius: 10px;
}
/*Ordenando en bloque*/
div.box {
  border: transparent;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

h2.info,
h3.info,
h4.info,
h5.info {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: #131414ce;
  text-align: center;
  text-shadow: 1px 1px #000000ad, 3px 3px rgb(64, 122, 155),
    4px 4px rgb(64, 122, 155), 5px 5px rgba(64, 122, 155, 0.664);
}
h1.info {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-decoration-line: underline;
  color: #cbe7fa;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px #d5d9dfad, 3px 3px rgb(64, 122, 155),
    4px 4px rgb(64, 122, 155), 5px 5px rgb(64, 122, 155),
    6px 6px rgba(64, 122, 155, 0.63), 7px 7px rgba(64, 122, 155, 0.527),
    8px 8px rgba(64, 122, 155, 0.301), 9px 9px rgba(64, 122, 155, 0.178);
}
/* .boxinfo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 4;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.082);
} */

/*directors info*/

h2.dinfo,
h3.dinfo,
h4.dinfo,
h5.dinfo {
  font-size: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: #131414ce;
  text-align: center;
  text-shadow: 1px 1px #000000ad, 2px 2px rgb(64, 122, 155),
    3px 3px rgb(64, 122, 155), 4px 4px rgba(64, 122, 155, 0.664);
}
h1.dinfo {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  text-decoration-line: underline;
  color: #cbe7fa;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px #d5d9dfad, 3px 3px rgb(64, 122, 155),
    4px 4px rgb(64, 122, 155), 5px 5px rgb(64, 122, 155),
    6px 6px rgba(64, 122, 155, 0.63), 7px 7px rgba(64, 122, 155, 0.527),
    8px 8px rgba(64, 122, 155, 0.301), 9px 9px rgba(64, 122, 155, 0.178);
}
img.directorphoto {
  background: linear-gradient(
    to left,
    rgb(64, 122, 155),
    rgba(116, 197, 193, 0.822)
  );
  box-shadow: 4px 6px 20px 0px #182020a8;
  margin: 2px auto 0;
  padding: 12px;
  position: relative;
  max-height: 22rem;
  max-width: 100vh;
}

/*FORM*/

input#title,
input#year,
input#director,
input#image {
  padding: 20px;
  border: none;
  background: none;
  outline: 0;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid black;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

form {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-transform: uppercase;
}

h2#title {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: #cbe7fa;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px #d5d9dfad, 3px 3px rgb(64, 122, 155),
    4px 4px rgb(64, 122, 155), 5px 5px rgb(64, 122, 155),
    6px 6px rgba(64, 122, 155, 0.63), 7px 7px rgba(64, 122, 155, 0.527),
    8px 8px rgba(64, 122, 155, 0.301), 9px 9px rgba(64, 122, 155, 0.178);
  text-transform: uppercase;
}

/*Header*/

header {
  background-image: url(https://cdn3.iconfinder.com/data/icons/famous-city-skyline/48/Sed-04-512.png);
  background-size: contain;
  font-family: 'Konfuciuz';
  font-size: 15px;
  color: rgba(238, 238, 238, 0.801);
}
h1 {
  text-shadow: 1px 1px 1px #a1cfd8a6, 1px 2px 1px #5666687e,
    1px 3px 1px #596161a4, 1px 4px 1px #0d0d0e73, 0px 5px 1px #1b1b1b6e,
    1px 6px 1px #2b2c2e, 1px 15px 35px rgba(16, 16, 16, 0.2);
}
p.sub {
  text-decoration-line: underline;
  font-family: 'Cormorant Upright', serif;
  color: rgb(36, 34, 34);
}
/*PHOTOS*/

img.filmsphoto {
  background: linear-gradient(
    to left,
    rgb(64, 122, 155),
    rgba(116, 197, 193, 0.822)
  );
  box-shadow: 4px 6px 20px 0px #182020a8;
  margin: 2px auto 0;
  padding: 12px;
  position: relative;
  margin-top: 40px;
  margin-left: 50px;
}
article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 2.4rem;
}
section.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 2.4rem;
  padding-left: 50px;
}

/*Responsive*/

/* ------------------------------------------------------------------- 
 * small screens - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  section.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------------------------------------------------------------- 
 * tablets - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  .container {
    width: auto;
    padding-left: 30px;
    padding-right: 30px;
  }

  .container.filmsphoto {
    padding-left: 0;
    padding-right: 0;
    margin-left: -15px;
    margin-right: -15px;
  }

  .info {
    width: 25%;
  }

  .box {
    width: 33.33333%;
  }

  .box2 {
    max-width: 300px;
    display: block;
    text-align: center;
  }

  .article {
    width: 66.66667%;
  }
}
/* ------------------------------------------------------------------- 
 * large mobile devices 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  section.container {
    max-width: 300px;
    display: block;
    margin-left: -3rem;
    text-align: center;
  }
}
/* ------------------------------------------------------------------- 
 * small mobile devices - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  .container.filmsphoto {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* ------------------------------------------------------------------- 
 * small screens - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 1024px) {
  section.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------------------------------------------------------------- 
 * tablets - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 768px) {
  section.container {
    max-width: 650px;
    display: grid;
    margin-left: rem;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
  }
}
/* ------------------------------------------------------------------- 
 * large mobile devices - 
 * ------------------------------------------------------------------- */
@media screen and (max-width: 600px) {
  section.container {
    max-width: 650px;
    display: block;
    text-align: center;
  }
  article {
    margin-left: -2rem;
  }
  .boxinfo {
    padding-left: 10rem;
  }
}
/* ------------------------------------------------------------------- 
 * stack on small mobile devices -
 * ------------------------------------------------------------------- */
@media screen and (max-width: 400px) {
  .stack .bgrid {
    width: 100% !important;
    float: none !important;
    clear: both !important;
    margin-left: 0;
    margin-right: 0;
  }
}

i.icon-arrow-up {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #000000fd;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #ffffffb4;
  padding: 10px 20px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.541);
  z-index: 99;
}
i.icon-arrow-up:hover {
  background-color: rgba(20, 22, 22, 0.555);
  color: white;
}
