@import url('https://fonts.googleapis.com/css2?family=Quattrocento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright&display=swap');

body {
  min-width: auto;
  display: block;
  text-align: center;
  font-size: 100%;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    rgb(64, 122, 155),
    rgba(116, 197, 193, 0.822)
  );
}

a#one:hover {
  background: rgba(51, 136, 119, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}
a#two:hover {
  background: rgba(51, 136, 119, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}

a#two {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}
a#one {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}

a#three:hover {
  background: rgba(51, 136, 119, 0.521);
  color: white;
  transition: 0.5s;
  padding: 10px;
  text-align: center;
}

a#three {
  font-family: 'Roboto Slab', serif;
  margin: 15px;
  color: black;
}

header {
  grid-area: auto;
  font-family: 'Quattrocento', serif;
}

h1 {
  text-shadow: 0em 0.1em rgba(72, 99, 102, 0.664);
}

img.filmsphoto {
  width: 300px;
  max-width: 300px;
  /* text-align: center; */
  margin: 20px;
  padding: 10px;
  /* float: left; */
  border-radius: 10px;
  z-index: 9;
  margin: 20px;
}
img.filmsphoto:hover {
  background: rgb(220, 233, 230);
  transition: 0.5s;
}
p.footer {
  text-align: center;
}

button {
  font-family: 'Josefin Slab', serif;
  margin: 15px;
  color: black;
  background-color: transparent;
  padding: 6px;
}
button:hover {
  background: rgba(51, 136, 119, 0.521);
  color: white;
  transition: 0.1s;
  padding: 6px;
  text-align: center;
}
/*Directors*/

img.directorphoto {
  width: 300px;
  max-width: 400px;
  border-radius: 10px;
}
/*Ordenando en bloque*/
div.box {
  border: transparent;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

div.box2 {
  border: transparent;
  margin: 10px;
  display: inline-flex;
}

h1.info,
h2.info,
h3.info,
h4.info,
h5.info {
  font-size: 20px;
  font-family: 'Cormorant Upright', serif;
  color: rgb(173, 236, 253);
  text-shadow: 0em 0.1em rgb(72, 99, 102);
  border-color: black;
  text-transform: uppercase;
  /* width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 4;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.082);
  text-align: center; */
}
h1.info {
  text-decoration-line: underline;
}
/* .boxinfo {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 4;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.082);
} */

/*directors info*/
h1.dinfo,
h2.dinfo,
h3.dinfo,
h4.dinfo,
h5.dinfo {
  font-size: 20px;
  font-family: 'Cormorant Upright', serif;
  color: rgb(173, 236, 253);
  text-shadow: 0em 0.1em rgb(72, 99, 102);
  border-color: black;
  text-transform: uppercase;
}
h1.dinfo {
  text-decoration-line: underline;
}
/*FORM*/

input#title,
input#year,
input#director,
input#image {
  padding: 20px;
  border: none;
  background: none;
  outline: 0;
  color: rgb(8, 31, 231);
  border-bottom: 1px solid black;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
}

form {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  text-transform: uppercase;
}

h2#title {
  color: rgb(173, 236, 253);
  text-shadow: 0em 0.1em rgb(72, 99, 102);
  text-transform: uppercase;
  font-family: 'Roboto Slab', serif;
  font-size: 20px;
}
